@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#mobile {
  display: none;
}

#navContainer {
  width: 100%;
  height: 8vh;
  /*background:red;*/
  padding: 1vw 6vw;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow-x: hidden;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#loader {
  width: 100%;
  height: 100vh;
  background: #1e1e1e;
  /*background-image: url("./images/hero.jpg");*/
  background-blend-mode: multiply;
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  justify-content: flex-end;
  /*justify-content: center;*/
  /*position: relative;*/
  overflow: hidden;
  padding-left: 1vw;
  /*align-items: center;*/
}

#loader h1 {
  /*line-height: 24vw;*/
  font-size: 15vw;
  white-space: nowrap;
  text-transform: uppercase;
  /*line-height: 14vw;*/
  font-weight: 900;
  overflow: hidden;
  will-change: transform;
  /*position: absolute;*/
  bottom: -10%;
  /*transform: translateX(138vw);*/
  visibility: hidden;
}

.l1 {
  width: 100%;
  overflow: hidden;
  /*background: red;*/
  /*position: absolute;*/
}

#wel {
  position: absolute;
  font-size: 20vw;
  text-transform: uppercase;
  transform: translateX(138vw);
  font-weight: 900;
}

#go {
  font-weight: 900;
  font-size: 20vw;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translateX(-200vw);
}

#navLogo {
  font-size: 2rem;
  letter-spacing: -2px;
}

#heroContainer {
  width: 100%;
  height: 100vh;
  /*background:pink;*/
  padding: 0 6vw;
  position: relative;
}

#heroTop {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
  font-weight: 900;
  /*background: blue;*/
}

#heroTop h1 {
  text-transform: uppercase;
  font-size: 14vw;
  letter-spacing: -0.5vw;
  font-weight: 900;
}

#textCircuit {
  background: url("./images/tech.jpg");
  -webkit-background-clip: text;
  background-size: contain;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

#heroMiddle {
  width: 100%;
  height: 30%;
  /*background: rebeccapurple;*/
  display: flex;
  /*margin-bottom: 1vw;*/
}

#middleLeft {
  width: 75%;
  height: 100%;
  /*background: red;*/
  overflow: hidden;
  display: flex;
  align-items: center;
}

#middleLeft h1 {
  text-transform: uppercase;
  font-size: 14vw;
  letter-spacing: -0.5vw;
  font-weight: 900;
}

#middleRight {
  width: 25%;
  height: 100%;
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*background: red;*/
}

#imageBox {
  height: 70%;
  width: 100%;
  border-radius: 20px;

  background: #fcb905;
}

#imageBox img {
  width: 100%;
  height: 120%;
  object-fit: contain;
  /*scale: 0;*/
}

#heroBottom {
  width: 100%;
  height: 28%;
  border-radius: 20px;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
  /*background: brown;*/
  /* position: absolute;

  width:86%; */
  /* height: 100%;  */
}

#imgLoad {
  width: 50%;
  height: 50%;
}

#imgLoad img {
  width: 100%;
  object-fit: contain;
  margin-top: 30vh;
}

#workContainer {
  width: 100%;
  height: 100vh;
  /*background: red;*/
  padding: 1vw 3vw;
}

#workHeading {
  width: 100%;
  display: flex;
  justify-content: center;
  /*background: blue;*/
  /*background-color: red;*/
  overflow: hidden;
}

.bigHeading {
  font-size: 6vw;
  font-weight: 800;
  letter-spacing: -0.2vw;
}

#worksBento {
  width: 100%;
  height: 100%;
  /*background: red;*/
  display: flex;
  flex-direction: column;
}

.bento {
  width: 100%;
  min-height: 50%;
  /*background: blue;*/
  display: flex;
  padding: 2vw;
  justify-content: center;
}

/*#upperBento{*/
/*    background: black;*/
/*}*/
.interBento {
  border-radius: 20px;
  padding: 2vw;
  position: relative;
}

#pinterestBento {
  width: 40%;
  min-height: 100%;
  background: #ffe1e6;
  margin-right: 2vw;
  border: 1px solid red;
}

#messroomBento {
  width: 40%;
  min-height: 100%;
  background: #ffdbc9;
  border: 1px solid #ff9763;
}

.innerContentBento {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.bentoImg {
  width: 100%;
  /*display: flex;*/
  /*justify-content: flex-end;*/
}

.bentoImg img {
  width: 30%;
  position: absolute;
  border-radius: 50%;
  top: -2vw;
  right: -2vw;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.1vw;
  margin: 0;
}

#pinContent h1 {
  color: #e60023;
}

#pinContent span {
  color: #e60023;
  font-weight: bold;
}

#messContent h1,
span {
  color: #e64d00;
  font-weight: bold;
}

#messContent span {
  color: #e64d00;
}

#mess img {
  width: 40%;
  border-radius: 10%;
}

#lowerLeft {
  width: 55%;
  height: 100%;
  display: flex;
  margin-right: 2vw;
  justify-content: center;
  /*background: red;*/
}

#lowerRight {
  width: 50%;
  height: 100%;
  /*background: yellow*/
}

#gem {
  width: 30%;
  min-height: 100%;
  background: #ffe6e7;
  margin-right: 2vw;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid red ;
  /*flex-wrap: wrap;*/
}

#crawler {
  width: 70%;
  min-height: 100%;
  background: #c4dcff;
  border: 1px solid #82b3fc ;

}

#lowerRight {
  display: flex;
  flex-direction: column;
}

#viewMore {
  width: 80%;
  margin: auto;
  height: 4vh;
  margin-top: 6vw;
  /*min-height: 10%;*/
  /*background: red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /*margin-bottom: 2vw;*/
}

#hardware {
  width: 80%;
  height: 100%;
  background: #d4f6d1;
  border: 1px solid #075100;
}

#lowerBento {
  margin-top: -2vw;
  padding-left: 10vw;
}

#gem h1,
span {
  color: #e60023;
}

#gem span {
  color: #e60023;
}

#gem h1 {
  font-size: 2rem;
  letter-spacing: -0.01vw;
}

#canvas {
  /*width: 1254px;*/
  /*height: 100%;*/
  /*background: blue;*/
  object-fit: contain;
}

#crawlerImg {
  /*width: 41%;*/
  height: 41%;
  object-fit: cover;
}

#crawlerContent h1,
span {
  color: #2d81ff;
}

#crawlerContent span {
  color: #2d81ff;
}

#HardwareContent h1,
span {
  color: #355f2e;
}

#HardwareContent h1 {
  font-size: 2.5rem;
}

#hardwareImg {
  width: 40%;
  height: 40%;
}

#myContainer {
  width: 100%;
  height: 150vh;
  /*background: red;*/
  display: flex;
  padding-top: 50vh;
}

#mysection_left {
  padding-top: 8vw;
  padding-left: 8vw;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  height: 100%;
  /*background: blue;*/
}

#mysection_right {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mask-image: linear-gradient(to bottom, black 70%, transparent);
  /*background: yellow;*/
}

.rightCol {
  width: 15%;
  height: 100%;
  /*background: pink;*/
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  overflow: hidden;
  align-items: center;
  mask-image: linear-gradient(to top, black 70%, transparent);
}

#right2 {
  transform: translateY(-30vh);
  /*margin-bottom: 60vh;*/
}

#right4 {
  /*transform: translateY(60vh);*/
  margin-top: -60vh;
}

.scrollSkill {
  width: 100%;
  height: 100%;
  /*background: pink;*/
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
}

.rightCol img {
  width: 80%;
  object-fit: cover;
}

/*#mysection_right img {*/
/*    width: 90%;*/
/*    height: 90%;*/
/*    !*height: 100%;*!*/
/*    border-radius: 5%;*/
/*    object-fit: cover;*/
/*    object-position: top;*/
/*    !*mask-image: linear-gradient(to bottom,black 80%,transparent);*!*/
/*    !*mask-image: linear-gradient(to bottom,black 80%,transparent);*!*/
/*    !*mask-image: url("./images/mask.png");*!*/
/*    !*mask-size: 68vw;*!*/
/*    !*mask-position: -4vw -8vw;*!*/
/*}*/

#skillsSectionContainer {
  width: 100%;
  height: 110vh;
  /*overflow: hidden;*/
  position: relative;
  /*background: rebeccapurple;*/
}

/*TODO: add hidden*/
#skillSection {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #212121;
  background-image: url("./images/lightbeams.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
}

#boldText {
  font-size: 2.1vw;
  line-height: 4.8vw;
  /*overflow: hidden;*/
}

#boldText h1 {
  font-weight: 700;
  letter-spacing: -0.2vw;
  overflow: hidden;
}

#mysection_left p {
  font-size: 1.2vw;
}

#EmailMeSection {
  width: 100%;
  height: 100vh;
  padding: 4vw 4vw;
  background: #fff;
  background: rgb(33 33 33);
color: #fff;
  position: absolute;
  /*rotate: 10deg;*/
  z-index: 200;
}

#EmailMe h1 {
  font-size: 17vw;
  font-weight: 900;
  letter-spacing: -0.9vw;
  margin-bottom: 0;
  /* background:url("./images/z.jpeg"); */
  background-position: center;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  mask-image: linear-gradient(to bottom,black 10%,transparent);


}

#EmailMe h3 {
  font-size: 4vw;
  margin-top: -4vw;
  /*letter-spacing: -0.9vw;*/
  margin-left: 9px;
}

#emailriv {
  margin-top: -5vw;
  margin-left: -3%;
}

#cvButton {
  margin-left: -9vw;
  margin-top: -3vw;
}

#skillHeading {
  /*background: red;*/
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#skillHeading h1 {
  line-height: 4vw;
  font-size: 5vw;
}

#react {
  width: 45vw;
  top: 50%;
  position: absolute;
  z-index: 1000;
  /*transition: 1s ease;*/
}

/*#react:hover {*/
/*    filter: drop-shadow(2px 4px 29px #00a7ff);*/

/*}*/

#react-blur {
  width: 50vw;

  top: -32%;
  left: -17%;
  position: absolute;
  z-index: 1000;
  filter: blur(7px);
  rotate: 18deg;
}

#python {
  width: 34vw;
  top: -23%;
  right: -14%;
  /* left: -17%; */
  position: absolute;
  z-index: 1000;
  filter: blur(7px);
  rotate: 18deg;
}

#jwt {
  width: 11vw;
  position: absolute;
  top: 18%;
  left: 15%;
}

#gsap {
  width: 10vw;
  position: absolute;

  top: 38%;
  left: 28%;
}

#redux {
  width: 18vw;
  position: absolute;
  top: 17%;
  left: 28%;
}

#git {
  width: 15vw;
  position: absolute;
  top: 24%;
  left: 52%;
}

#dj {
  width: 47vw;
  right: 0;
  top: 50%;
  position: absolute;
  z-index: 1000;
  /*transition: 0.8s ease;*/
}

#rails {
  width: 15vw;
  right: 40%;
  top: 60%;
  position: absolute;
  z-index: 1000;
  rotate: -11deg;
}

#swift {
  width: 7vw;
  right: 35%;
  top: 51%;
  position: absolute;
  z-index: 1000;
  rotate: -11deg;
}

#js {
  width: 24vw;
  right: 14%;
  top: -3%;
  position: absolute;
  z-index: 1000;
}

#docker {
  width: 20vw;
  right: 17%;
  top: 26%;
  position: absolute;
  z-index: 1000;
}

#lastSectionContainer {
  width: 100%;
  height: 150vh;
  background: black;
  position: relative;
}

#lastSectionContainer {
  padding-top: 60vw;
  color: white;
  background: #3e3e3e;
  background-image: url("./images/tech.jpg");
  background-blend-mode: multiply;
}

#rotateText {
  position: absolute;
  font-size: 7vw;
  top: 66%;
  rotate: -10deg;
}

#social {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 3vw;
  align-items: end;
}

#social h1 {
  font-weight: 200;
  /*transition: 1s all ease;*/
}

#social h1:hover {
  text-decoration: underline;
}
